<h2 class="left-title" style="max-height:50px;">Author Network</h2>
<div class="figure-parent">
    <div class="tooltip" style="position:absolute; top:0; left:0 ">
        <mat-icon class="global-button">info</mat-icon>
        <span class="tooltiptext">
            This network graphs shows all co-authorship of authors in papers as links. The authors are filtered by the minimum author links.
            All authors with less links than the entered number will be cut off and not represented as node. 
        </span>
    </div>
    <div class="loader-frame">
        <div [hidden]="!dataLoading" class="loader"></div>
    </div>
    <figure [hidden]="dataLoading" id="author_network"></figure>
   <!-- <div class="control-buttons">
        <mat-icon [hidden]="dataLoading" class="controls-button" (click)="onClickedZoomAndPan()">zoom_in</mat-icon>
        <mat-icon [hidden]="dataLoading" class="controls-button" (click)="onClickedBrushing()">brush</mat-icon>
    </div>-->
</div>