@use "sass:map";
@use "@angular/material" as mat;
@import "~/src/themes.scss";

.loader-frame {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.figure-parent {
  position: relative;
}

.controls-button {
  color: mat-color($vis-warn);
  transform: scale(1.50);
  margin-left: 18px;
  margin-right: 18px;
}

.control-buttons {
  position: absolute;
  right: 0;
}

[hidden] {
  display: none !important;
}