<h2 class="left-title">Author Link Histogram</h2>
<div class="tooltip">
    <mat-icon class="global-button">info</mat-icon>
    <span class="tooltiptext">
        This histogram shows the amount of authors per links amount.
    </span>
</div>
<div class="figure-parent">
    <div class="loader-frame">
        <div [hidden]="!dataLoading" class="loader"></div>
    </div>
    <figure [hidden]="dataLoading" id="author_link_histogram"></figure>
</div>