<div class="picker-top">
    <mat-icon class="icon">drag_indicator</mat-icon>
    <span class="title">Pick graphs</span>
</div>
<mat-list class="primary-background">
    <mat-list-item class="item-text" *ngFor="let graph of graphItems">
        <span>{{graph.label}}</span>
    </mat-list-item>
</mat-list>