@use "sass:map";
@use "@angular/material" as mat;
@import "~/src/themes.scss";

.picker-top {
  display: flex;
  justify-content: left;
}

.title {
  text-align: center;
  margin-top: 4px;
  display: inline-block;
  font-family: "SoleilLight" !important;
}

mat-list {
  padding-top: 0px !important;
  padding-left: 8px;
  padding-right: 8px;
}

.item-text {
  font-family: "SoleilRegular" !important;
  margin-top: 8px !important;
  background-color: #edebec;
  border-radius: 8px;
}

.primary-background {
  background-color: mat-color($vis-primary);
}

.icon {
  margin: 0 0 0 8px;
  color: mat-color($vis-warn);
}
