@use "sass:map";
@use "@angular/material" as mat;
@import "~/src/themes.scss";



.tool-tip {
  z-index: 1;
  background-color: mat-color($vis-primary) !important;
  font-family: sans-serif;
  left: 200px;
  top: 200px;
  visibility: hidden;
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid grey;
}


.top-bar {
  height: 150px;
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
}

.filters {
  margin: 8px 32px 8px 16px;
  padding: 16px;
  background-color: mat-color($vis-primary);
  grid-column: 1/4;
  grid-row: 2/3;
}

.filter-title {
  display: block;
}

.fields {
  display: flex;
}

#filer-list{
  height: 50px;
}

.field-wrapper {
  width: 50%;
}

.field {
  width: 200px;
  color: mat-color($vis-warn) !important;
  padding-left: 8px;
  padding-right: 8px;
}

.field-topic {
  width: 200px;
  padding-left: 8px;
  padding-right: 8px;
  color: mat-color($vis-warn) !important;
}

.field-active-filters {
  width: 600px;
  padding-left: 8px;
  padding-right: 8px;
  color: mat-color($vis-warn) !important;
}

.hyphen {
  margin: auto;
  text-align: center;
  padding: 8px;
}

.field-number {
  width: 100px;
  color: mat-color($vis-warn) !important;
  padding-left: 8px;
  padding-right: 8px;
}

.field-number-large {
  width: 120px;
  color: mat-color($vis-warn) !important;
  padding: 8px;
}

.footer {
  grid-column: 1/4;
  grid-row: 4;
}

.graph-area {
  grid-column: 2/3;
  grid-row: 3/4;
}

.filter-button {
  margin-left: 40px;
}

.timeline-button {
  flex-direction: row;
  align-items: center;
  border: none;
  padding-right: 12px;
}

.graph-grid {
  padding: 8px 16px 16px 16px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 50% 50%;
}

.graph-element {
  padding: 0px;
  background-color: mat-color($vis-primary);
  min-height: 500px;
}

.about-page {
  padding: 50px;
}

.icon {
  color: mat-color($vis-warn);
  transform: scale(1.40);
}

mat-icon:hover {
  color: mat-color($vis-warn-highlight);
}

.chip-list {
  min-height: 160px;
}