<div class="application-parent">
    <div class="tool-tip"></div>
    <div class="application-grid">

        <mat-toolbar class="top-bar" color="accent">
            <span>BioMedical Visualization: Past Work, Current Trends, and Open Challenges</span>
        </mat-toolbar>

        <mat-tab-group dynamicHeight (selectedTabChange)="tabChanged($event)">
            <mat-tab label="About">
                <div class="about-page" style="display: flex;">
                    <img src="../assets/book.png" alt="book"
                        style="width: 20%; margin-right: 20px;  object-fit: contain; ">
                    <div style="position: relative; margin-top: 2%">
                        <h2>About</h2>

                        <p>This website accompanies the book <b><a
                                    href="https://link.springer.com/book/9783031667886">BioMedical Visualization: Past
                                    Work, Current Trends, and Open Challenges </a></b>.
                            This book provides an overview of the many visualization strategies that have been proposed
                            in recent decades for solving problems within the disciplines of medicine and biology. It
                            also evaluates which visualization techniques applied to various areas of biomedicine have
                            been the most impactful and which challenges can be considered solved using visualization.
                            The topics covered in this book include visualization research in omics, interaction
                            networks and pathways, biological structures, tumor diagnosis and treatment, vasculature,
                            brain, surgery, educational contexts, therapy and rehabilitation, electronic health records,
                            and public health. One chapter is dedicated to general visualization techniques commonly
                            used for biomedical data, such as surface and volume rendering, as well as abstract and
                            illustrative approaches. For each of these areas, the past and present research trends are
                            discussed, highlighting the influential works. Furthermore, the book explains how research
                            is affected by developments in technology, data availability, and domain practice.
                            Individual sections also summarize the typical target users, the nature of the data, and the
                            typical tasks addressed in the given domain.</p>

                        <p>To uncover the trends, we have manually curated over 3,800 research publications related to
                            biomedical visualization, which we categorized according to the application field. A
                            searchable repository of all the curated publications along with overview statistics can be
                            found under the tab <b>Trends</b>. We complemented the publication overview with the list
                            of available biomedical visualization tools, that can be found under the tab
                            <b>Software</b>.
                        </p>

                        <hr>

                        <p><b>Katarína Furmanová</b>, Faculty of Informatics, Masaryk University, Brno, Czech Republic
                            <br>
                            <b>Barbora Kozlíková</b>, Faculty of Informatics, Masaryk University, Brno, Czech
                            Republic<br>
                            <b>Thomas Höllt</b>, Faculty of Electrical Engineering, Mathematics and Computer Science,
                            Delft University of Technology, Delft, The Netherlands<br>
                            <b>Eduard Gröller</b>, Institute of Visual Computing & Human-Centered Technology, TU Wien,
                            Wien, Austria<br>
                            <b>Bernhard Preim</b>, Faculty of Computer Science, Otto-von-Guericke University Magdeburg,
                            Magdeburg, Germany<br>
                            <b>Renata Georgia Raidou</b>, Institute of Visual Computing & Human-Centered Technology, TU
                            Wien, Wien, Austria
                        </p>

                    </div>
                </div>

            </mat-tab>

            <mat-tab label="Trends">

                <mat-card class="filters" *ngIf="hiddenFilters">
                    <h2 class="filter-title">Filters</h2>
                    <div class="fields">
                        <div>
                            <h3>Title</h3>
                            <div class="fields">
                                <mat-form-field appearance="outline" class="field" color="warn" id="subject-field">
                                    <mat-label>Keyword</mat-label>
                                    <input #subject matInput type="text" ngModel name="subject" class="form-control"
                                        id="subject" (input)="filterBySubject(subject.value)" />
                                </mat-form-field>

                                <!--  <mat-form-field appearance="outline" class="field" color="warn" id="topic-field">
                                    <mat-label>Topic</mat-label>
                                    <input #topic matInput type="text" ngModel name="topic" class="form-control"
                                        id="topic" (input)="filterByTopic(topic.value)" />
                                </mat-form-field>-->
                            </div>
                        </div>

                        <div>
                            <h3>Chronological</h3>
                            <div class="fields">
                                <mat-form-field appearance="outline" class="field-number" color="warn" id="start-field">
                                    <mat-label>Start Year</mat-label>
                                    <input #startYear matInput type="text" ngModel name="startYear" class="form-control"
                                       value = {{startYearValue}}
                                        id="startYear" (input)="filterByStartYear(startYear.value)" />
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="field-number" color="warn" id="end-field">
                                    <mat-label>End Year</mat-label>
                                    <input #endYear matInput type="text" ngModel name="endYear" class="form-control"
                                        value = {{endYearValue}}
                                        id="endYear" (input)="filterByEndYear(endYear.value)" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div>
                            <h3>Network</h3>
                            <div class="fields">
                                <mat-form-field appearance="outline" class="field-topic" color="warn"
                                    id="authorCount-field">
                                    <mat-label>Minimum Author Links</mat-label>
                                    <input #authorCount matInput type="text" ngModel name="authorCount"
                                        class="form-control" id="authorCount"
                                        (input)="filterByAuthorCount(authorCount.value)" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <h3>Interaction Filters:</h3>
                    <div id="filer-list" class="fields">
                        <mat-chip-list class="chip-list" aria-label="Active interactions">
                            <mat-chip color="warn" *ngFor="let paper of paperFilters" [removable]="true" (removed)="remove(paper)" selected>{{paper}}
                                <mat-icon matChipRemove >cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <div>
                        <button mat-flat-button color="white" class="timeline-button" (click)="setHiddenResults()">
                            <mat-icon class="timeline-button icon" (click)="setHiddenResults()"
                                aria-hidden="false">view_list</mat-icon>
                            <span>List filtered papers</span>
                        </button>

                    </div>
                </mat-card>



            </mat-tab>
            <mat-tab label="Software">
                <div class="about-page">
                    <h2>List of available visualization software</h2>
                    <h2>Omics</h2>
                    <ul>
                        <li><a href="https://igv.org/">IGV</a> - Integrative Genomics Viewer</li>
                        <li><a href="http://locuszoom.org/">LocusZoomn</a></li>
                        <li><a href="https://www.10xgenomics.com/products/chromium-analysis">Loupe Browser</a></li>
                        <li><a href="https://www.beckman.com/flow-cytometry/software/cytobank-premium">Cytobank</a></li>
                        <li><a href="https://cellxgene.cziscience.com/">CELLxGENE</a></li>
                        <li><a href="https://www.cytosplore.org/">Cytosplore</a></li>
                        <li><a href="http://vitessce.io/">Vitessce</a></li>
                        <li><a href="https://satijalab.org/seurat/">Seurat</a></li>
                        <li><a href="https://scanpy.readthedocs.io/en/stable/">Scanpy</a></li>
                        <li><a href="https://circos.ca/">Circos</a></li>
                        <li><a href="https://cytoscape.org/">Cytoscape</a></li>
                        <li><a href="https://igv.org/doc/juiceboxjs.html">JuiceBox.js</a></li>
                        <li><a href="https://higlass.io/">HiGlass</a></li>
                        <li><a href="https://genome.ucsc.edu/">USCS Genome Browser</a></li>
                        <li><a href="https://www.nucleome.org/">Nucleome Browser</a></li>
                        <li><a href="https://epigenomegateway.wustl.edu/">WashU Epigenome Browser</a></li>
                        <li><a href="http://gosling-lang.org/">Gosling</a></li>
                        <li><a href="https://www.bioconductor.org/">Bioconductor</a></li>
                    </ul>
                    <h2>Molecular</h2>
                    <ul>
                        <li><a href="https://www.cgl.ucsf.edu/chimerax/">UCSF ChimeraX</a></li>
                        <li><a href="https://pymol.org/">PyMol</a></li>
                        <li><a href="https://molstar.org/">Mol*</a></li>
                        <li><a href="https://jmol.sourceforge.net/">JMol/JSMol</a></li>
                        <li><a href="https://caver.cz/">Caver Analyst</a></li>
                        <li><a href="https://megamol.org/">MegaMol</a></li>
                        <li><a href="https://www.yasara.org/">YASARA</a></li>
                        <li><a href="https://www.baaden.ibpc.fr/umol/">UnityMol</a></li>
                        <li><a href="https://www.ks.uiuc.edu/Research/vmd/">VMD</a></li>
                        <li><a href="https://catana.ait.ac.at/">Catana</a></li>
                        <li><a href="https://www.samson-connect.net/">Samson-Connect</a></li>
                        <li><a href="https://ccsb.scripps.edu/cellpaint/">CellPAINT</a></li>
                        <li><a href="https://3dmol.csb.pitt.edu/">3Dmol.js</a></li>
                        <li><a href="https://nglviewer.org/">NGL Viewer</a></li>
                        <li><a href="https://clarafi.com/tools/mmaya/">Molecular Maya</a></li>
                        <li><a href="https://www.biorender.com/">BioRender</a></li>
                    </ul>
                    <h2>MedVis & General SciVis</h2>
                    <ul>
                        <li><a href="https://www.slicer.org/">3D Slicer</a></li>
                        <li><a href="https://www.mevislab.de/de/">MeVisLab</a></li>
                        <li><a href="https://inviwo.org/">Inviwo</a></li>
                        <li><a href="https://www.paraview.org/">ParaView</a></li>
                        <li><a href="https://www.mitk.org/">MITK</a> - The Medical Imaging Interaction Toolkit</li>
                        <li><a href="http://www.vmtk.org/">VMTK</a> - The Vascular Modeling Toolkit</li>
                        <li><a href="https://vtk.org/">VTK</a> - The Visualization Toolkit</li>
                        <li><a href="https://itk.org/">ITK</a> - The Insight Toolkit</li>
                        <li><a href="https://pyvista.org/">PyVista</a></li>
                        <li><a href="https://www.uni-muenster.de/Voreen/">Voreen</a></li>
                        <li><a
                                href="https://www.thermofisher.com/cz/en/home/electron-microscopy/products/software-em-3d-vis/amira-software.html">Amira</a>
                        </li>
                        <li><a href="https://www.osirix-viewer.com/">Osirix</a></li>
                    </ul>
                </div>
            </mat-tab>

        </mat-tab-group>
        <div class="graph-grid" id="graph-conatiner" style="display:grid">
            <app-topic-histogram id="topics_histogram_container" class="graph-element"></app-topic-histogram>
            <app-journal-histogram id="journal_histogram_container" class="graph-element"></app-journal-histogram>
            <app-journal-linechart id="journal_linechart_container" class="graph-element"></app-journal-linechart>
            <app-author-network id="author_network_container" class="graph-element"></app-author-network>
            <app-affiliation-choropleth id="affiliation_choropleth_container"
                class="graph-element"></app-affiliation-choropleth>
            <!--<app-author-link-histogram class="graph-element"></app-author-link-histogram>-->

        </div>

        <!-- footer -->
        <div class="footer">
        </div>
    </div>
    <app-paper-list [hidden]="hiddenResults"></app-paper-list>
</div>