/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use "@angular/material" as mat;
@import "~/src/themes.scss";

@font-face {
  font-family: "SoleilRegular";
  src: local("SoleilRegular"), url(./assets/fonts/SoleilRegular.otf);
}

@font-face {
  font-family: "SoleilLight";
  src: local("SoleilLight"), url(./assets/fonts/SoleilLight.otf);
}

@font-face {
  font-family: "SoleilBold";
  src: local("SoleilBold"), url(./assets/fonts/SoleilBold.otf);
}

span {
  font-family: "SoleilRegular";
}

h2 {
  font-family: "SoleilLight" !important;
}

h3 {
  font-family: "SoleilLight" !important;
  margin-bottom: 4px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.left-title {
  padding-top: 16px;
  padding-left: 16px;
  text-align: left;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: mat-color($vis-warn);
}

.loader {
  border: 6px solid #d0d0d0; /* Light grey */
  border-top: 6px solid #a8c1b7; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: mat-color($vis-primary) !important;
  text-align: left;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  margin-left: 12px;
  padding: 16px;
  border: 1px solid grey;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.global-button {
  color: mat-color($vis-warn);
  transform: scale(1.50);
  margin-left: 18px;
  margin-right: 18px;
}

mat-icon:hover {
  color: mat-color($vis-warn-highlight);
}

app-root {
  margin: 0px;
  height: 100%;
  width: 100%;
}