@use "@angular/material" as mat;
@import "~@angular/material/theming";
@include mat-core();

$hint-of-red-palette: (
  50: #fbf9fa,
  100: #f5f3f4,
  200: #edebec,
  300: #dfddde,
  400: #bbb9ba,
  500: #9c9a9b,
  600: #737172,
  700: #5f5d5e,
  800: #403f3f,
  900: #1f1e1f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  ),
);

$fiord-palette: (
  50: #e7f1f7,
  100: #c5dcec,
  200: #a4c7e0,
  300: #89b1d1,
  400: #77a2c8,
  500: #6993bf,
  600: #6086b3,
  700: #5475a1,
  800: #4b658e,
  900: #3b496d,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  ),
);

$opal-palette: (
  50: #dbe6e2,
  100: #a8c1b7,
  200: #6f9a89,
  300: #3a765f,
  400: #165e45,
  500: #00472d,
  600: #003d25,
  700: #00311b,
  800: #002410,
  900: #000c00,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  ),
);

$cinnabar-palette: (
  50: #fff3e2,
  100: #ffe1b8,
  200: #ffce8b,
  300: #ffba5e,
  400: #ffab41,
  500: #ff9d31,
  600: #fc912e,
  700: #f5822b,
  800: #ee7329,
  900: #e35c26,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  ),
);

$tuna-palette: (
  50: #f9f5ff,
  100: #f0ecff,
  200: #e4e0f3,
  300: #d2cde1,
  400: #ada9bb,
  500: #8c889a,
  600: #646171,
  700: #514e5e,
  800: #33303f,
  900: #14101e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  ),
);

$vis-primary: mat-palette($hint-of-red-palette, 50);
$vis-accent: mat-palette($fiord-palette, 900);
$vis-warn: mat-palette($cinnabar-palette, 900);
$vis-warn-highlight: mat-palette($cinnabar-palette, 500);

$vis-info: mat-palette($cinnabar-palette, 300);
$vis-primary-dark: mat-palette($hint-of-red-palette, 900);

$vis-custom-theme: mat-light-theme($vis-primary, $vis-accent, $vis-warn);

@include angular-material-theme($vis-custom-theme);
