@use "sass:map";
@use "@angular/material" as mat;
@import "~/src/themes.scss";

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay-background {
  width: 80%;
  height: 95%;
  margin-top: 10px;
  background: mat-color($vis-primary);
  position:relative;
}

.paper-row {
  width: 70%;
  display: flex;
  margin: 24px;
  justify-content: space-between;
  flex-direction: column !important;
}



.light-bg {
  background-color: grey;
}

.dark-bg {
  background-color: lightgray;
}

.bottom-container {
  margin: 16px;
}

.paper-container {
  width: 100%;
  height: 80%;
  padding:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  overflow-y: auto;
}

.button-container {
  width: 20%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 16px;
}

h3 {
  color: mat-color($vis-accent) !important;
  margin-bottom: 0px !important
}