<div class="overlay">
    <div class="overlay-background">
        <button (click)="onCloseListCLicked()" mat-icon-button color="warn" style="position: absolute;
        top: 0;  right:0;">
            <mat-icon>close_icon</mat-icon>
        </button>
        <div class="paper-container" >
            <div>
                <h1>Filtered papers</h1>
                <div class="paper-rows">
                    <div class="paper-row" *ngFor="let paper of currentPapers; let i = index">
                    <!--<span>Key: {{paper.key}}</span>-->
                    <h3>{{paper.title}}</h3>
                    <span>Authors: {{paper.author}}</span>
                    <span>Year of Publication: {{paper.publicationYear}}</span>
                    <span *ngIf="paper.doi">DOI: <a href="https://doi.org/{{paper.doi}}"> {{paper.doi}}</a></span>
                </div>
            </div>
            </div>

        </div>
        <mat-paginator [length]="allPapers.length" pageSize=PAGE_SIZE (page)="getPaginatorData($event)"
                [pageSizeOptions]="[PAGE_SIZE]" showFirstLastButtons="true" style="position: absolute;
                bottom: 0;  left: 50%; margin-left:-200px">
            </mat-paginator>
    </div>
</div>